/* nav related styles */
/* common shared styles */
body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}.nav-title{
    color: black;
    font-size: 45px;
    font-weight: 800;
}.text-primary{
    color: coral;
} .btn-primary{
    border-radius: 8px;
    background-color: coral;
    font-size: 15px;
    font-weight: 700;
    color: blanchedalmond;
    padding: 10px 20px;
}
.section-title{
    color: black;
    text-align: center;
    font-family: Open Sana;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}
  .section-description{
    color: black;
    text-align: center;
    font-family: Open Sans;
    font-size: 18px;

  }

nav > ul {
    display: flex;
    align-items: center;
}nav li{
    list-style: none;
    margin-right: 50px;
}nav a{
    text-decoration: none;
    color: black;
}
/* header related style */
.header{
    background-color: antiquewhite;
    display: ;
}
.banner{
    padding: 30px 30px 30px 150px; 
    display: flex;
    align-items: center;
}
.banner-content{
    
}

.banner .profile-pic{
    width: 400px;
}.banner-greeting{
    font-size: 40px;
    color: black;
    margin-bottom: 0px;
}

.banner-title{
    font-size: 70px;
    font-weight: 700;
    margin-top: 5px;margin-bottom: 20px;
}.banner-discription{
    font-size: small;
    padding: 8px;
}
/* main section style */
main{
    max-width: 1140px;
    margin: 0 auto;
}





/* about section style */
.about{
    padding: 130px;border-radius: 10px;
    background-color: beige;
    margin-top: 130px;
}
.about-info-container{
    display: flex;
    justify-content: space-around;
}.about-info{
    text-align: center;
}